body{
    background:linear-gradient(to right,#3c393d,#b4c8d8,rgb(40, 152, 139));
}


.img-continer{
    height: 50vh;
    width: 40vw;
    display: block;
    margin: 10vh auto;
}



.img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.btn-continer{
    display: flex;
    justify-content: center;
}

.btn-continer button{
    height: 5vh;
    width: 8vw;
    margin-right: 3vh;
    background-color: brown;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1.5vw;
}